/* CSS Document */

body {
    margin: 0px;
    font-family: "acumin-pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
	color: inherit;
}

.content {
    display: flex;
    margin: auto;
    max-width: 1024px;
}

header {
    width:100%;
}

.header-flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    padding: 4px;
    font-size: 28px;
    align-self: flex-start;
    line-height: 16px;
}

.logoCursosDe {
    position: relative;
    left: -0.3em;
    font-family: acier-bat-gris, sans-serif;
    font-size: 1em;
}

.logoProgramacion {
    font-size: 1em;
    padding-left: 0.1em;
}

nav#cookieConsent {
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFB297;
    padding-bottom: 0px;
    padding-right: 0px;
}

nav .button {
    padding: 0.5em;
    width: 200px;
    border: none;
    color: #707070;
    font-weight: 400;
    background-color: #FF9F7E;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

.hidden {
    display:none;
}
.navbar {  
}

.navbar .button {
        padding: 0.5em;
        background-color: #FF9F7E;
        border: none;
        color: #FFFFFF;
        font-size: 18px;
        min-width: 96px;
    }

.navbar ul {
  vertical-align: bottom;
  float: right;
  list-style-type: none;
  margin: 0;
  
}

.navbar ul li {
    margin-left: 4em;
    display: inline;
}


.section1 {
	position: relative;
	padding-bottom: 4em;
	
}

.section1::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 2em 49vw;
}

.hero {
    width: 50%;
    text-align: center;
}

.hero h1 {
	font-size: 36px;
	font-weight: 400;
}

.heroButton {
    display: inline-block;
	margin: auto;
    background-color:#34b296;
    border: none;
    text-align: center;
    width: 480px;
    padding-top:0.2em;
    padding-bottom:0.3em;
    font-size: 24px;
    color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}

.section1 img {
    width: 40%;
}

.section2 {
	position: relative;
	padding-top: 3em;
	padding-bottom: 5em;
}

.section2::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 2em 49vw;

}


.testimonials {
	margin: auto;
    width: 50%;
}

.testimonials ul {
    padding-left: 40px;
}

.testimonials ul li {
    display: flex;
    align-items: center;
    min-height: 120px;
    list-style-type: none;
    margin-top: 12px;
}

.circle {
    margin: 6px;
    flex-shrink: 0;
    height: 96px;
    width: 96px;
    border-radius: 50%;
}

blockquote {
    margin: 0px;
}

blockquote p {
    margin: 0px;
    font-family: minion-3-display, serif; 
    font-style: italic;
    
}


.section3 {
	position: relative;
	padding-top: 1em;
	padding-bottom: 5em;
}

.section3::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 2em 49vw;
}

.section3 img {
	width: 100%;
	height: 280px;
	object-fit: contain;
}

.excerpt { 
	width: 45%;
}

.excerpt:last-child {
	width: 100%;
}

.align-right {
	text-align: right;
}

.section4 {
	position: relative;
	padding-bottom: 3em;
}

.priceCard {
	align-self: center;
	width: 280px;
	margin-left: 1em;
	margin-top: 2em;
	padding: 1em;
	padding-top: 2em;
	background-color: #34b296;
	color: #FFFFFF;
	text-align: center;
}

.planName {
	font-weight: 600;	
}

.planPrice {
	font-size: 40px;
}

.priceCard hr {
	color: #FFFFFF;
}

.priceCard ul {
	padding: 0px;
	list-style-type: none;
}

.priceCard ul li {
	text-align: left;
}

.priceCard .button {
    margin-top: 1em;
    padding: 0.5em;
    width: 200px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    background-color: #707070;
    cursor: pointer;
    display: inline-block;
}

.priceCard .circle {
	position: relative;
	top: -3.5em;
	left: 110px;
	width: 2.5em;
	height: 2.5em;
	background-color: #34b296;
	border: 4px;
	border-style: solid;
	border-color: #7effe2;
}
.footerFlex {
    align-items: flex-start;
    justify-content: space-between;
	flex-wrap: wrap;
}

footer {
	background-color: #707070;
}

footer ul {
	padding: 0;
}

footer ul li {
	list-style: none;
}