﻿.section1 {
    padding-top: 3em;
    padding-bottom: 4em;
}

.section1Flex {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section1 img {
    width: 40%;
}

.section1 form {
    
    padding: 1em;
    margin: 2em;
}

.section1 .navbar {
    width: 100%;
    border-bottom: solid 1px #707070;
}
.section1 .navbar ul {
    float: left;
    margin: 0px;
    padding: 0px;
    
}

.section1 .navbar li {
    margin: 0px;
    padding: 0px;
}
.section1 .navbar li a {
    margin: 0px;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

.active {
    border: solid 1px #707070;
    border-bottom: solid 1px #FFFFFF;
    box-shadow: 0px 10px 0px  -1px #FFFFFF;
    font-weight: 600;
}

.form-group {
    clear: both;
}

input, textarea, select {
    font-size: 18px;
    color: #707070;
    font-family: inherit;
    padding: 4px;
    margin: 0.5em;
    width: 480px;
}

input[type=checkbox] {
    width: initial;
}

textarea {
    resize: none;
    height: 280px;
}

.section1 .button {
    float: right;
    padding: 0.5em;
    margin:0.5em;
    width: 200px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    background-color: #34b296;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

.form-group a {
    padding: 0.5em;
    line-height: 2.5em;
    float: right;
    text-decoration: underline;
}

.section1 a {
    display: inline-block;
    text-align: center;
    margin-left: 3em;
    padding: 0.5em;
    text-decoration: underline;
}

footer {
    color: #FFFFFF;
}