.section1 {
	height: 480px;
	
}

.section1::after {
	border-bottom-color: #7effe2; 
	border-left-color: #7effe2; 
}

.section1Flex {
	height: 100%;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}

.section1 img {
    width: 40%;
}

.section2 {
	background-color: #7effe2;
}

.section2::after {
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;

}

.section2Flex {
	flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.circle {
    background-color: #b26246; 
}


.section3 {
}

.section3::after {
	border-bottom-color: #7effe2; 
	border-right-color: #7effe2; 
	border-left-color: #7effe2; 
}

.section3Flex {
    height: 100%;
	flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.section3 img {
	width: 100%;
	height: 280px;
	object-fit: contain;
}

.section4 {
    background-color:#7effe2;
}

.section4Flex {
	justify-content: center;
	flex-wrap: wrap;
}

.section4 h1 {
	width: 100%;
	font-family: acier-bat-gris, sans-serif;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
}

footer {
	color: #7effe2;
}