header {
	color: #FFFFFF;
	background-color: #707070;
    width:100%;
}

.section1 {
	color: #FFFFFF;
	background-color: #707070;

}

.section1::after {
	border-bottom-color:#7effe2;
	border-left-color: #7effe2; 
}

.section1Flex {
	height: 100%;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}

.section1 img {
    width: 40%;
}

.section2 {
	background-color: #7effe2;
}


.section2Flex {
	flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.circle {
    background-color: #b26246; 
}

footer {
	color: #7effe2;
}
