﻿@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="navbar">
    <ul>
        <li><a class="@ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Perfil</a></li>
        <li><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword"> Contraseña</a></li>
        @if (hasExternalLogins)
        {
            <li><a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Perfiles externos</a></li>
        }
        <li><a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">Autenticacion en dos pasos</a></li>
        <li><a class="@ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">Datos personales</a></li>
    </ul>
</div>