﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}
@Html.Partial("_StatusMessage", Model.StatusMessage)

<section class="section1">
    <div class="content section1Flex">
        <partial name="_ManageNav" />
        <div>
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.OldPassword"></label> <br />
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label> <br />
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label> <br />
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="button">Update password</button>
            </form>
        </div>
    </div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
