﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}
@Html.Partial("_StatusMessage", Model.StatusMessage)

<section class="section1">
    <div class="content section1Flex">
        <partial name="_ManageNav" />
        <div>
            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label> <br />
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label> <br />
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" /> <br />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Email" class="form-control" /> <br />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="button">Reenviar verificación</button>
                    }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label> <br />
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button type="submit" class="button">Guardar</button>
            </form>
        </div>
        
    </div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
