﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <partial name="_ManageNav" />
        <div style="margin-top:2em; padding-top:1em">
            <p>Su cuenta contiene datos personales que usted nos a proporcionado. Esta pagina le permite administrar estos datos.</p>
            <p>
                <strong>Al borrar estos datos su cuenta sera eliminada y no podra ser recuperada.</strong>
            </p>

            <form asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="button" type="submit">Descargar</button>
                <a asp-page="DeletePersonalData">Borrar</a>
            </form>
           
        </div>
    </div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
