﻿@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<section class="section1">
    <div class="content section1Flex">
        <partial name="_ManageNav" />
        <div style="margin:2em; padding:1em">
            @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>You have no recovery codes left.</strong>
                        <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>You have 1 recovery code left.</strong>
                        <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                        <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }

                if (Model.IsMachineRemembered)
                {
                    <form method="post" style="display: inline-block">
                        <button type="submit" class="btn btn-default">Forget this browser</button>
                    </form>
                }
                <a asp-page="./Disable2fa" class="btn btn-default">Disable 2FA</a>
                <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Reset recovery codes</a>
            }

            @if (!Model.HasAuthenticator)
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="button">Agregar aplicacion</a>
            }
            else
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="button">Setup authenticator app</a>
                <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="button">Reset authenticator app</a>
            }
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
