﻿@model CursosDeProgramacion.Models.Modulo

@{
    ViewData["Title"] = "Create";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <form asp-action="Create" style="width:100%; margin:4px; padding:0px">
            <h1>Crear modulo:</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="float:right">
                <label asp-for="Contenido" class="control-label"></label> <br />
                <textarea asp-for="Contenido" class="form-control"> </textarea>
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label> <br />
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label> <br />
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label> <br />
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button" />
                <a href="#">Cancelar</a>
            </div>
        </form>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
