﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="content" role="alert">
        <div class="navbar" style="width:100%">
            <p style="text-align:center; margin-top:8px">
                Esta página utiliza cookies y otras tecnologías para mejorar tu experiencia en nuestro sitio.
            </p>
            <ul>
                <li><a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Leer Mas</a></li>
                <li><button type="button" class="button" data-cookie-string="@cookieString">Aceptar</button></li>

            </ul>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}