﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CursosDeProgramacion</title>

    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="https://use.typekit.net/tnr0qjj.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    @RenderSection("Styles", required: false)

</head>
<body>
       <header>
           <div class="content header-flex">
               <div class="logo">
                   <a asp-controller="Home" asp-action="Index">
                       <i class="fas fa-graduation-cap" style="font-size: 1.2em"></i>
                       <span class="logoCursosDe">Cursos de</span> <br>
                       <span class="logoProgramacion">Programación.net</span>
                   </a>
               </div>

               <partial name="_LoginPartial" />

           </div>
        </header>

        <partial name="_CookieConsentPartial" />

        @RenderBody()

        <footer>
            <div class="content footerFlex">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-controller="Cursos" asp-action="Index">Cursos</a></li>
                    <li><a asp-controller="Home" asp-action="About">Acerca de Nosotros</a></li>
                </ul>
                <ul>
                    <li><a href="index.html">Politica de Privacidad</a></li>
                    <li><a href="cursos.html">Terminos y Condiciones</a></li>
                </ul>
                <ul>
                    <li><i class="fab fa-youtube"></i> Youtube</li>
                    <li><i class="fab fa-instagram"></i> Instagram</li>
                    <li><i class="fab fa-facebook"></i> Facebook</li>
                </ul>
            </div>
        </footer>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
