@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <div class="navbar">
            <ul>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user-circle fa-lg"></i> @UserManager.GetUserName(User)</a>
                </li>
                <li>
                    <button type="submit" class="button">Cerrar Sesion</button>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="navbar">
        <ul>
            <li><a asp-area="Identity" asp-page="/Account/Register">Registrate</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Login">Inicia Sesion</a></li>

        </ul>
    </div>
}