﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Inicia Sesion";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <div>
            <form method="post">
                <h1>Inicia Sesión</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label> <br />
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label> <br />
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button">Inicia Sesion</button>
                </div>
            </form>
            <a asp-page="./ForgotPassword">Recuperar contraseña</a> <br />
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar como usuario nuevo</a>
        </div>
        <div>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
