header {
    background-color: #FFFFFF;
    width:100%;
}

.section1 {

}

.section1::after {
	border-bottom-color: #73CEFF; 
	border-left-color: #73CEFF; 
}

.section1Flex {
	height: 100%;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}


.section1 img {
    width: 40%;
}

.hero {
	width: 35%;
}

.heroButton {
	background-color: #2D88B8;
}

.section2 {
	background-color: #73CEFF;
}

.section2::after {
	border: none;

}

.section2Flex {
	flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.priceCard {
	background-color: #2D88B8;
}

.priceCard .circle {
	background-color: #2D88B8;
	border-color: #73CEFF;
	line-height: 2.4em;
	font-weight: 200;
}



footer {
	color: #73CEFF;
}
