﻿@model CursosDeProgramacion.Models.Curso

@{
    ViewData["Title"] = "Create";
}
@section Styles  {
    <link rel="stylesheet" href="~/css/forms.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <form asp-action="Create">
            <h1>Crear curso:</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label> <br />
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label> <br />
                <textarea asp-for="Descripcion" class="form-control"> </textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label> <br />
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear curso" class="button" />
                <a href="#">Cancelar</a>
            </div>
        </form>
     </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
