﻿@model CursosDeProgramacion.Models.Curso

@{
    ViewData["Title"] = "Details";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/cursos/details.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <div class="hero">
            <h1>@Html.DisplayFor(model => model.Titulo)</h1>
            <p>@Html.DisplayFor(model => model.Descripcion)</p>
        </div>

        <iframe src="https://player.vimeo.com/video/20534171?title=0&byline=0&portrait=0" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

        <button class="heroButton" onclick="window.location.href='algoritmos.html'"> Continuar Curso</button>
    </div>
</section>

<section class="section2">
    <div class="content section2Flex">
        @foreach (Modulo modulo in @Model.Modulos)
        {
            <div class="priceCard">
                <div class="circle">1</div>
                <span class="planName">@Html.DisplayFor(moduloItem => modulo.Titulo)</span>  <br>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star" style="color: #73CEFF "></i>
                <br>

                <p>@Html.DisplayFor(moduloItem => modulo.Descripcion)</p>
                <hr>
                <a href="#" class="button"> Ver Curso </a>
            </div>
        }
    </div>
</section>
