﻿@model IEnumerable<CursosDeProgramacion.Models.Curso>

@{
    ViewData["Title"] = "Index";
}
@section Styles  {
    <link rel="stylesheet" href="~/css/cursos/index.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <div class="hero">
            <h1>Cursos de programación:</h1>
            <p>Busca, inscribete y aprende a programar con uno de nuestros cursos disponibles.</p>
        </div>
    </div>
</section>

<section class="section2">
    <div class="content section2Flex">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        @foreach (var item in Model)
        {
            <div class="priceCard">
                <div class="circle"></div>
                <span class="planName">@Html.DisplayFor(modelItem => item.Titulo)</span>
                <br>
                <br>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <hr>
                <a asp-controller="Cursos" asp-action="Details" asp-route-id="@item.Id" class="button">Ver Mas</a>
            </div>
        }
    </div>
</section>

