﻿@{
    ViewData["Title"] = "Nosotros";
}
@section Styles  {
    <link rel="stylesheet" href="~/css/home/nosotros.css" />
}

<section class="section1">
    <div class="content section1Flex">
        <div class="hero">
            <h1>Acerca de Nosotros:</h1>
        </div>
    </div>
</section>

<section class="section2">
    <div class="content section2Flex">
        <div class="excerpt">
            <h1>Cursosdeprogramacion.net:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat molestias magnam rem, deserunt obcaecati rerum esse, aliquam laboriosam deleniti, ut accusamus architecto blanditiis accusantium ipsam debitis explicabo labore nobis, nisi.</p>
        </div>
        <div class="excerpt">
            <h1>Contactanos:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat molestias magnam rem, deserunt obcaecati rerum esse, aliquam laboriosam deleniti, ut accusamus architecto blanditiis accusantium ipsam debitis explicabo labore nobis, nisi.</p>
        </div>

    </div>
</section>
