﻿@{
    ViewData["Title"] = "Home Page";
}

@section Styles  {
    <link rel="stylesheet" href="~/css/home/index.css" />
}
<section class="section1">
    <div class="content section1Flex">
        <div class="hero">
            <h1>Los mejores cursos de programación</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt porro, similique sint, aliquid in iste cumque velit illum delectus id, iure laboriosam. Sequi nemo inventore ipsa omnis dolor ab est?</p>

        </div>
        <img src="images/Home/undraw_professor_8lrt.png" alt="programming image">
        <a asp-controller="Cursos" asp-action="Index" class="heroButton"> Ver Cursos</a>
    </div>
</section>

<section class="section2">
    <div class="content section2Flex">
        <div class="excerpt">
            <h1>¿Que es la programacion?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat molestias magnam rem, deserunt obcaecati rerum esse, aliquam laboriosam deleniti, ut accusamus architecto blanditiis accusantium ipsam debitis explicabo labore nobis, nisi.</p>
        </div>
        <div class="excerpt">
            <h1>¿Por qué aprender a programar?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat molestias magnam rem, deserunt obcaecati rerum esse, aliquam laboriosam deleniti, ut accusamus architecto blanditiis accusantium ipsam debitis explicabo labore nobis, nisi.</p>
        </div>
        <div class="excerpt"></div>
    </div>
</section>

<section class="section3">
    <div class="content section3Flex">
        <div class="excerpt">
            <h1>Contenido Multimedia:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, nulla, a. Maiores fuga, delectus. Labore molestiae officia nam eum quod dolore pariatur molestias, nisi, deserunt neque, quos. Repellendus, velit, repellat?</p>
            <img src="images/Home/undraw_youtube_tutorial_2gn3.png" alt="programming image">

        </div>
        <div class="excerpt  align-right">
            <img src="images/Home/undraw_version_control_9bpv.png" alt="programming image">
            <h1>Ejercicios Practicos:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, nulla, a. Maiores fuga, delectus. Labore molestiae officia nam eum quod dolore pariatur molestias, nisi, deserunt neque, quos. Repellendus, velit, repellat?</p>

        </div>

        <div class="excerpt">

            <h1>Cursos gratis:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, nulla, a. Maiores fuga, delectus. Labore molestiae officia nam eum quod dolore pariatur molestias, nisi, deserunt neque, quos. Repellendus, velit, repellat?</p>
            <img src="images/Home/undraw_developer_activity_bv83.png" alt="programming image">
        </div>

    </div>
</section>

<section class="section4">
    <div class="content section4Flex">
        <h1>Aprende a programar!</h1>
        <div class="priceCard">
            <div class="circle"></div>
            <span class="planName">Plan Gratis</span> <br>
            <span class="planPrice">0</span> <br>
            mensual

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fugiat accusantium eligendi quos nisi obcaecati, laborum quia, alias, illo consequatur officiis. </p>
            <hr>
            <ul class="li">Feature 1</ul>
            <ul class="li">Feature 2</ul>
            <ul class="li">-</ul>
            <ul class="li">-</ul>
            <hr>
            <a class="button">Crear cuenta</a>
        </div>

        <div class="priceCard">
            <div class="circle"></div>
            <span class="planName">Plan Basico</span> <br>
            <span class="planPrice">6</span> <br>
            mensual

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fugiat accusantium eligendi quos nisi obcaecati, laborum quia, alias, illo consequatur officiis. </p>
            <hr>
            <ul class="li">Feature 1</ul>
            <ul class="li">Feature 2</ul>
            <ul class="li">-</ul>
            <ul class="li">-</ul>
            <hr>
            <a class="button">Comprar</a>
        </div>

        <div class="priceCard">
            <div class="circle"></div>
            <span class="planName">Plan Plus</span> <br>
            <span class="planPrice">12</span> <br>
            mensual

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fugiat accusantium eligendi quos nisi obcaecati, laborum quia, alias, illo consequatur officiis. </p>
            <hr>
            <ul class="li">Feature 1</ul>
            <ul class="li">Feature 2</ul>
            <ul class="li">-</ul>
            <ul class="li">-</ul>
            <hr>
            <a class="button">Comprar</a>
        </div>

    </div>
</section>